.heroContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
}

.heroCard {
  height: 25rem;
  width: 18rem;
  border: 1rem;
  border-style: solid;
  background-color: black;
  margin: 1rem;
}

.imgCard {
  width: 18rem;
  height: 23rem;
  overflow: hidden;
}

.heroImage {
  width: 18rem;
}

.heroName {
  text-align: center;
  margin: 0;
  color: white;
  padding: 0.3rem;
  font-size: 2rem;
}


.heart {
  color: white;
  background-color: currentColor;
  height: 50px;
  transform: rotate(-45deg);
  position: absolute;
  width: 50px;
  margin: 1.5rem;
}

.heart-checkbox {
  display: none;
}

.heart::before,
.heart::after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
}

.heart:after {
  left: 25px;
}

.heart-checkbox:checked + .heart {
  color: red;
}
