.heroContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
}

.heroCard {
  height: 25rem;
  width: 18rem;
  border: 1rem;
  border-style: solid;
  background-color: black;
  margin: 1rem;
}

.imgCard {
  width: 18rem;
  height: 23rem;
  overflow: hidden;
}

.heroImage {
  width: 18rem;
}

.heroName {
  text-align: center;
  margin: 0;
  color: white;
  padding: 0.3rem;
  font-size: 2rem;
}



.heart {
  cursor:pointer;
  color:#aaa;
}

.heart:hover {
  color:#666;
}

.heart:before {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}

.heart.press {
  color:#e23b3b;
}

